:root{
    --mainBlue:   #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark:   #232528;
  --mainYellow: #ffa400
  }
  

.btn-cart{
        background: transparent;
        text-transform: capitalize;
        font-size: 15px;
        border: 2px solid var(--lightBlue);
        font-weight: 700;
        color: var(--lightBlue);
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
        margin: 0.2rem 0.5rem 0.2rem 0;
        transition: all 0.5s ease-in-out;
}

.btn-cart:hover{
            background: var(--lightBlue);
            color: var(--mainBlue);
}
.btn-cart:focus{
        outline: none;
}
.NavWrapped {
        background: var(--mainBlue);
}
.nav-link{
    font-size: 1.3rem;
    color: var(--mainWhite)!important;
    text-transform: capitalize;
}
