.prod{
    text-align: center;
    margin-top:3rem;
    margin-bottom: 3rem;
}
.text-blue{
    color: #0000ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.align-items-center{
    margin-bottom: 5rem;
}
.phone_details{
    text-align: center;
}

.img_product{
    margin-left: 1rem;
}
.img_product:hover{
    opacity: 200%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05) translateZ(0);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
@media(max-width: 765px){
    .align-items-start{
        display: block;
        
        
        
    }
    .img_product{
        margin-left: 5rem;
    }
    .align-items-center{
        display: inline;
        margin-top: 2rem;
    }
    .phone_details{
        
        text-align: center;
        margin-bottom: 3rem;
    }
}

